root = true

[*]
end_of_line = lf

[*.lua]
charset = utf-8
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true
keep_one_space_between_table_and_bracket = false
spaces_around_operators = true
