# Text Editor TMP Files
*.swp
*.blend1
*.blend2
*.blend3
/.idea/
*.xcf
.Rproj.user
prompt.txt
__pycache__
tests/luacheck/passed.lst
tests/luacheck/report.log
bin/
build/
luanti-lls-definitions/
log/
*.tar.gz
